<div class="<%= top_class %>" data-stryke-id="<%= stryke.id %>" data-user-id="<%= stryke.user.id %>">
  <div class="col-1-12">
    <%= image_tag "#{stryke.user.avatar}", class: 'thumb' %>
  </div>
  <div class="col-10-12 spark-header-box">
    <%= link_to "#{stryke.user.full_name.upcase}", user_path(stryke.user), class:"spark-header" %>
    <div class="col-12-12 spark-header">
      Total Sparks: <%= stryke.user.spark_count %>

    </div>
  </div>
  <div class="col-1-12 countdown" data-date="<%= (stryke.created_at + 24.hours).strftime('%Y-%m-%d %H:%M:%S %Z') %>"></div>
  <p>
    <%= stryke.body_html %>
  </p>

  <div class="sparks">
    <%= render partial: 'sparks/spark', locals: {
      sparkable: stryke,
      active_img: 'spark-icon-yellow.png',
      inactive_img: 'spark-icon-white.png',
    } %>
  </div>

  <div class="comments">
    <div class="header"><%= "#{stryke.comments.count}" %> comments</div>
      <div class='content'>

        <div class="comment-list">
          <% stryke.comments.each do |comment| %>
            <%= render partial: "welcome/comment", locals: {comment: comment} %>
          <% end %>
        </div>

      <!-- Comment form -->
      <div class="form">

        <%= simple_form_for([stryke, @comment]) do |f| %>
          <%= f.text_field :body %>
          <%= f.button :submit, value: "Post" %>
        <% end %>
        <span data-area-countdown></span>

      </div>
    </div>
  </div>
</div>
