<div class="col-12-12">
  <div class="sign-container">
    <div class="sign-box">
      <%= link_to(image_tag("lytening-logo-white.svg", class:"sign-logo"), "#") %>
      <div class="sign-log">

    <div class="sign-header">SIGN UP</div>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%#= f.error_notification %>
          <%= devise_error_messages! %>

          <div class="form-inputs">
            <%= f.input :email, label: false, required: true, autofocus: true, placeholder: "Email" %>
            <%= f.input :password, label: false, required: true, placeholder: "Password", hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
            <%= f.input :password_confirmation, label: false, required: true, placeholder: "Password Confirmation" %>
          </div>

          <div class="col-12-12 form-actions">
            <%= f.button :submit, "SIGN UP", class:"update" %>
          </div>
        <% end %>

        <div class="col-6-12">
          <%= button_to "LOG IN", user_session_path, class: "login-signup-page" %>
        </div>
      </div>
    </div>
  </div>
  <div class="about-container">

    <div class="about">
      <div class="about-box">
        <div class="about-header">ABOUT</div>

        <div class="about-text">
          As developers, our passion is to be contributors on a team where the code we write truly matters. This was and still is an exciting opportunity that allows us to be a part of a collaborative team that informs, educates, and breathes community into people's lives.
          We desire to be part of a company which encourages personal and logical growth and sets a new standard for teams in our industry, and this project allowed us to experience that on a small scale.
        </div>
      </div>
    </div>

  </div>

  <div class="team-container">

    <div class="team">
      <div class="team-box">
        <div class="team-header">TEAM</div>
        <div class="player-con">

          <div class="team-pic">
            <%= image_tag "jordan-head.jpg" %>
          </div>
          Jordan I. Collier is the founder, leader, and one of the developers of Lytening. He has a passion to strengthen teams, deal with client side feedback/problem solving, and develop incredible applications which have purpose. He has studied Ruby/Rails, Javascript, jQuery, HTML, CSS and aspires to continue the language journey. Jordan’s contributions include developing a strong MVC backend, bug-hunting/squashing, team leader, product evangelist, and working closely with client-side feedback.
      </div>
      <div class="player-con">
        <div class="team-pic">
          <%= image_tag "jake-head.jpg" %>
        </div>
        Jake Marwil is a co-founder and developer of Lytening.  He is a full stack developer with experience in Ruby/Rails, JavaScript, jQuery, AJAX, HTML and CSS.  Coming from a financial and IT background, Jake is a problem solver, a skilled communicator, and has a strong desire to learn.  Jake's contribution to Lytening includes back-end as well as front-end work.  His focus was on controller logic, models and validations, database set up and queries, as well as jQuery functionalities
    </div>
      <div class="player-con">

        <div class="team-pic">
          <%= image_tag "andrew-head.jpg" %>
        </div>
        Andrew James is a co-founder of Lytening. He is a graphic designer turned full stack developer. With experience in JavaScript, jQuery, React js, HTML, CSS, Sass, Ruby/Rails and four years of professional design experience, he has a passion not only for good design, but bringing those designs to life.  Andrew’s contribution to Lytening includes UI / UX, front end development and branding.
    </div>
      <div class="player-con">

      <div class="team-pic">
        <%= image_tag "wes-head.jpg" %>
      </div>
      I am passionate about computer science, mathematics, and music. I believe that the advancement of technology is a vital component in furthering the progress of our species. In the "Information Age" that we live in, connecting people around the world with quality, well organized information is of great importance, and is my life's goal.      </div>
      </div>
    </div>

  </div>
</div>
