<div class="col-12-12">
  <div class="photo-edit-container">
    <div class="photo-edit-box">
      <div class="col-12-12">
        <%= link_to(image_tag("lytening-logo-white.svg", class:"sign-logo"), "#") %>

      </div>

      <div class="col-12-12">
        <div class="sign-header">CROP AVATAR</div>
        <%= image_tag current_user.avatar_url(:large), id: "cropbox" %>
      </div>
      <div class="col-12-12">
        <div class="sign-header">PREVIEW</div>

      <div style="width:100px; height:100px; overflow:hidden">
        <%= image_tag current_user.avatar.url(:large), :id => "preview" %>
      </div>
    </div>
      <%= form_for @user do |f| %>
        <% %w[x y w h].each do |attribute| %>
        <%= f.hidden_field "crop_#{attribute}" %>
        <% end %>
        <div class="col-4-12 form-actions cancel-box">
          <%= f.submit "Update Profile", class:"update" %>
        </div>
      <% end %>

      </div>
    </div>
  </div>
