<div class="col-12-12 main-con">

<div class="user-container">
  <div class="col-6-12 user-stats">

    <div class="col-12-12 user-quick-glance">
      <div class="col-5-12 user-avatar">
        <%= image_tag @user.avatar_url(:large) %>
      </div>
      <div class="col-7-12">
        <div class="user-header"><%= @user.username %></div>
        <div class="user-spark-count"><%= @user.spark_count %></div>
        <div class="user-spark-header">Total Sparks</div>

        <!-- These are the Follow / Unfollow links -->
        <% if current_user == @user %>
          <%= button_to "Edit Profile Picture", edit_user_path(current_user), :method => :get, class: "follow-btn" %>
        <% else %>
          <% unless current_user.followers.include? @user %>
            <%= button_to "FOLLOW", followings_path(:follower_id => @user.id), :method => :post, class:"follow-btn", "data-follower-id":"#{@user.id}" %>
          <% else %>
            <%= button_to "UNFOLLOW", following_path(current_user.followings.find_by(follower_id: @user.id)), :method => :delete, class:"follow-btn", "data-follower-id":"#{@user.id}" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-12-12 user-info-con">
        <strong>WORK</strong><br>
        <%= @user.work %><br>

        <strong>NAME</strong><br>
        <%= @user.first_name %> <%= @user.last_name %><br>

        <strong>SEX</strong><br>
        <%= @user.sex %><br>

        <strong>LOCATION</strong><br>
        <%= @user.location %><br>

        <strong>BIRTHDAY</strong><br>
        <%= @user.birthday.strftime('%B %d, %Y') %><br>

        <strong>SCHOOL</strong><br>
        <%= @user.school %><br>

    </div>
    <div class="col-12-12 user-about-con">
      <strong>ABOUT</strong><br>
      <%= @user.about %><br>
    </div>

    <div class="col-12-12 user-interests-con">
      <strong>INTERESTS</strong><br>
      <%= @user.interest %><br>
    </div>
  </div>

  <div class="col-6-12 user-comments">

    <!-- •HEY ANDREW- THIS BELOW ALLOWS A USER TO SEE ALL OF HIS/HER POSTS ONLY IF
          THEY ARE THE CURRENT USER CAN THEY SEE THE HISTORY OF THEIR OWN POSTS -->
    <div class="user-stryke-header">STRYKES</div>
    <% if current_user %>
      <% @user.strykes.order(created_at: :desc).each do |stryke| %>
        <%= stryke.body %><br><hr>
      <% end %>
    <% end %>
    <%# @user.strykes.order(created_at: :desc).first.body %>
  </div>

</div>
</div>
