<div class="col-12-12 main-con">

<div class="user-container">
  <div class="col-6-12 user-stats">

    <div class="col-12-12 user-quick-glance">
      <div class="col-5-12 user-avatar">
        <%= image_tag @user.avatar_url(:userShow) %>
      </div>
      <div class="col-7-12">
        <div class="user-header"><%= @user.username %></div>
        <div class="user-spark-count"><%= @user.spark_count %></div>
        <div class="user-spark-header">Total Sparks</div>

        <div class="user-followers-count"><%= link_to @user.followers.count, following_path(@user) %> Following</div>

        <div class="user-followers-count"><%= link_to @user.inverse_followers.count, following_path(@user) %> Followers</div>

        <!-- These are the Follow / Unfollow links -->
        <% if current_user == @user %>
          <%= button_to "Edit Profile Picture", edit_user_path(current_user), :method => :get, class: "edit-profile-pic-btn" %>
        <% else %>
          <% unless current_user.followers.include? @user %>
            <%= button_to "FOLLOW", followings_path(:follower_id => @user.id), :method => :post, class:"follow-btn", "data-follower-id":"#{@user.id}" %>
          <% else %>
            <%= button_to "UNFOLLOW", following_path(current_user.followings.find_by(follower_id: @user.id)), :method => :delete, class:"follow-btn", "data-follower-id":"#{@user.id}" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if current_user == @user %>
      <div class="col-12-12 user-info-con" data-user-id="<%=current_user.id%>">
          <strong>WORK</strong><br>
          <div class="edit fake" data-field-name="work"><%= @user.work %></div>

          <strong>FIRST NAME</strong><br>
          <div class="edit fake" data-field-name="first_name"><%= @user.first_name %></div>

          <strong>LAST NAME</strong><br>
          <div class="edit fake" data-field-name="last_name"><%= @user.last_name %></div>

          <strong>GENDER</strong><br>
          <div class="edit_sex fake" data-field-name="gender"><%= @user.gender %></div>

          <strong>LOCATION</strong><br>
          <div class="edit fake" data-field-name="location"><%= @user.location %></div>

          <strong>BIRTHDAY</strong><br>
          <div class="edit_date fake" data-field-name="birthday">
            <% if @user.birthday %>
              <%= @user.birthday.strftime('%B %d, %Y') %>
            <% end %>
          </div>

          <strong>SCHOOL</strong><br>
          <div class="edit fake" data-field-name="school"><%= @user.school %></div>

      </div>
      <div class="col-12-12 user-about-con">
        <strong>ABOUT</strong><br>
        <div class="edit_area fake" data-field-name="about"><%= @user.about %></div>
      </div>

      <div class="col-12-12 user-interests-con">
        <strong>INTERESTS</strong><br>
        <div class="edit fake" data-field-name="interest"><%= @user.interest %></div>
      </div>
    <% else %>
      <div class="col-12-12 user-info-con" data-user-id="<%=current_user.id%>">
          <strong>WORK</strong><br>
          <div><%= @user.work %></div>

          <strong>FIRST NAME</strong><br>
          <div><%= @user.first_name %></div>

          <strong>LAST NAME</strong><br>
          <div><%= @user.last_name %></div>

          <strong>GENDER</strong><br>
          <div><%= @user.gender %></div>

          <strong>LOCATION</strong><br>
          <div><%= @user.location %></div>

          <strong>BIRTHDAY</strong><br>
          <div>
            <% if @user.birthday %>
              <%= @user.birthday.strftime('%B %d, %Y') %>
            <% end %>
          </div>

          <strong>SCHOOL</strong><br>
          <div><%= @user.school %></div>

      </div>
      <div class="col-12-12 user-about-con">
        <strong>ABOUT</strong><br>
        <div><%= @user.about %></div>
      </div>

      <div class="col-12-12 user-interests-con">
        <strong>INTERESTS</strong><br>
        <div><%= @user.interest %></div>
      </div>
    <% end %>
  </div>

  <div class="col-6-12 user-comments">

    <!-- •HEY ANDREW- THIS BELOW ALLOWS A USER TO SEE ALL OF HIS/HER POSTS ONLY IF
          THEY ARE THE CURRENT USER CAN THEY SEE THE HISTORY OF THEIR OWN POSTS -->
    <div class="user-stryke-header">STRYKES</div>
    <% if current_user == @user %>
      <% @user.strykes.order(created_at: :desc).each do |stryke| %>
        <%= stryke.body %><br><hr>
      <% end %>
    <% end %>
    <%# @user.strykes.order(created_at: :desc).first.body %>
  </div>

</div>
</div>
