<div class="col-12-12">
  <div class="tutorial-container">
    <div class="tutorial-box">
      <div class="col-12-12">
        <%= link_to(image_tag("lytening-logo-white.png", class:"sign-logo"), "#") %>
      </div>
    <h1>ADD A PROFILE PICTURE</h1>

    <div class="btn-container">

    <%= simple_form_for(@user) do |f| %>
      <%= f.file_field :avatar %>
      <div class="col-6-12 next-tut-box">
      <%= f.button :submit %>
      </div>

    <% end %>

    <div class="col-6-12 next-tut-box">
      <%= link_to 'skip to next section', step_three_path %>
    </div>
  </div>
</div>
</div>
</div>
