<hr class="comment-split"></hr>

<div class="col-12-12 comment">
  <div class="col-12-12 comment-box">
    <p>
      <div class="comment-thumb">
        <%= image_tag "#{comment.user.avatar}", class: 'thumb' %>
      </div>
      <%= link_to "#{comment.user.full_name.upcase}", user_path(comment.user), class:"comment-header"%>
      <%= comment.body_html %>
    </p>
    <div class="comment-sparks">
      <ul class="test">
        <% unless current_user %>
          <li><%= image_tag "spark-icon-white.png", class:"spark-icon white", id:"#{comment.id} #{comment.user.id}" %></li>
        <% else %>
          <% spark = current_user.sparks.find_by(comment_id: comment.id) %>
          <% if spark %>
            <li><%= image_tag "spark-icon-yellow.png", class:"spark-icon yellow", id:"#{comment.id} #{comment.user.id} #{spark.id}" %></li>
          <% else %>
            <li><%= image_tag "spark-icon-white.png", class:"spark-icon white", id:"#{comment.id} #{comment.user.id}" %></li>
          <% end %>
        <% end %>
        <li><strong><%= comment.spark_count %></strong></li>
        <li>sparks</li>
      </ul>
    </div>
  </div>
</div>
