<div class="col-12-12 comment" data-comment-url="<%= comment_path(comment) %>">
  <div class="col-12-12 comment-box">
    <p>
      <div class="comment-thumb">
        <%= image_tag "#{comment.user.avatar}", class: 'thumb' %>
      </div>
      <%= link_to "#{comment.user.full_name.upcase}", user_path(comment.user), class:"comment-header"%>
      <%= comment.body_html %>
    </p>
    <% if current_user == comment.user %>
      <p><%= link_to "Delete", '#', class:"comment-delete" %></p>
    <% end %>
    <div class="comment-sparks">
      <%= render partial: 'sparks/spark', locals: {
        sparkable: comment,
        active_img: 'spark-icon-teal.png',
        inactive_img: 'spark-icon-teal.png',
      } %>
    </div>
  </div>
</div>
<hr class="comment-split"></hr>
