<div class="status-container">

  <div class="col-6-12">
    <div class="top">
      <% @strykes_hot.each do |stryke| %>
      <div class="top-status">
        <h2><%= image_tag "#{stryke.user.avatar}", class: 'thumb' %> <%= link_to "#{stryke.user.full_name.upcase}", user_path(stryke.user), class:"spark-header" %></h2>
        <p>
          <%= "#{stryke.body}" %>
        </p>
        <div class="sparks">

          <ul>
            <li><%= image_tag "spark-icon-white.png", class:"spark-icon" %></li>
            <li><strong><%= "#{stryke.spark_count}" %></strong></li>
            <li>sparks</li>
          </ul>

        </div>

        <div class="comments">
          <h4>10 comments</h4>
          <div class='comment-indi'>
            10 comments
          </div>
        </div>

      </div>

      <!-- <div class="top-status">
        <h2>JUNIPER</h2>
        <p>
          https://www.behance.net/funandstuff
        </p>
        <div class="sparks">

          <ul>
            <li><%# image_tag "spark_icon.png", class:"spark-icon" %></li>
            <li><strong>247</strong></li>
            <li>sparks</li>
          </ul>

        </div>

        <div class="comments">
          <p>
            10 comments
          </p>
        </div>

      </div>


      <div class="top-status">
        <h2>JUNIPER</h2>
        <p>
          Mixtape Williamsburg artisan, tilde freegan cred DIY aesthetic. Truffaut flexitarian narwhal quinoa. Gastropub PBR dreamcatcher XOXO, tote bag American Apparel YOLO mlkshk next level locavore 3 wolf moon. Beard literally church-key food truck blog, drinking vinegar keffiyeh post-ironic Vice typewriter meggings sriracha trust fund bitters artisan. Master cleanse whatever bicycle rights blog XOXO, vegan letterpress quinoa distillery selfies keytar meditation narwhal.
        </p>
        <div class="sparks">

          <ul>
            <li><%# image_tag "spark_icon.png", class:"spark-icon" %></li>
            <li><strong>247</strong></li>
            <li>sparks</li>
          </ul>

        </div>

        <div class="comments">
          <p>
            10 comments
          </p>
        </div>

      </div> -->
      <% end %>
    </div>
  </div>

  <div class="col-6-12">
    <div class="new">

      <div class="new-status">

        <h2>JUNIPER</h2>
        <p>
          Mixtape Williamsburg artisan, tilde freegan cred DIY aesthetic. Truffaut flexitarian narwhal quinoa. Gastropub PBR dreamcatcher XOXO, tote bag American Apparel YOLO mlkshk next level locavore 3 wolf moon. Beard literally church-key food truck blog, drinking vinegar keffiyeh post-ironic Vice typewriter meggings sriracha trust fund bitters artisan. Master cleanse whatever bicycle rights blog XOXO, vegan letterpress quinoa distillery selfies keytar meditation narwhal. Williamsburg stumptown DIY Pitchfork literally polaroid, church-key seitan leggings banh mi fingerstache bicycle rights post-ironic mixtape. Vinyl gentrify hella, bitters ethical Carles Pitchfork pug squid farm-to-table heirloom Etsy.        </p>
        <div class="sparks">

          <ul>
            <li><%= image_tag "spark_icon.png", class:"spark-icon" %></li>
            <li><strong>247</strong></li>
            <li>sparks</li>
          </ul>

        </div>

        <div class="comments">
          <p>
            10 comments
          </p>
        </div>


      </div>

      <div class="new-status">
        <h2>JUNIPER</h2>
        <p>
          https://www.behance.net/funandstuff
        </p>
        <div class="sparks">

          <ul>
            <li><%= image_tag "spark_icon.png", class:"spark-icon" %></li>
            <li><strong>247</strong></li>
            <li>sparks</li>
          </ul>

        </div>

        <div class="comments">
          <p>
            10 comments
          </p>
        </div>

      </div>

      <div class="new-status">
        <h2>JUNIPER</h2>
        <p>
          Mixtape Williamsburg artisan, tilde freegan cred DIY aesthetic. Truffaut flexitarian narwhal quinoa. Gastropub PBR dreamcatcher XOXO, tote bag American Apparel YOLO mlkshk next level locavore 3 wolf moon. Beard literally church-key food truck blog, drinking vinegar keffiyeh post-ironic Vice typewriter meggings sriracha trust fund bitters artisan. Master cleanse whatever bicycle rights blog XOXO, vegan letterpress quinoa distillery
        </p>
        <div class="sparks">

          <ul>
            <li><%= image_tag "spark_icon.png", class:"spark-icon" %></li>
            <li><strong>247</strong></li>
            <li>sparks</li>
          </ul>

        </div>

        <div class="comments">
          <p>
            10 comments
          </p>
        </div>

      </div>

      <div class="new-status">
        <h2>JUNIPER</h2>
           <p>
              https://www.behance.net/funandstuff
            </p>
            <div class="sparks">

          <ul>
            <li><%= image_tag "spark-icon-white.png", class:"spark-icon" %></li>
            <li><strong>247</strong></li>
            <li>sparks</li>
          </ul>

        </div>

        <div class="comments">
          <p>
            10 comments
          </p>
        </div>

      </div>

      <div class="new-status">
        <h2>JUNIPER</h2>
           <p>
              https://www.behance.net/funandstuff
            </p>
            <div class="sparks">

          <ul>
            <li><%= image_tag "spark-icon-white.png", class:"spark-icon" %></li>
            <li><strong>247</strong></li>
            <li>sparks</li>
          </ul>

        </div>

        <div class="comments">
          <p>
            10 comments
          </p>
        </div>

      </div>

      <div class="new-status">
        <h2>JUNIPER</h2>
           <p>
              https://www.behance.net/funandstuff
            </p>
            <div class="sparks">

          <ul>
            <li><%= image_tag "spark-icon-white.png", class:"spark-icon" %></li>
            <li><strong>247</strong></li>
            <li>sparks</li>
          </ul>

        </div>

        <div class="comments">
          <p>
            10 comments
          </p>
        </div>

      </div>

      <div class="new-status">
        <h2>JUNIPER</h2>
           <p>
              https://www.behance.net/funandstuff
            </p>
            <div class="sparks">

          <ul>
            <li><%= image_tag "spark-icon-white.png", class:"spark-icon" %></li>
            <li><strong>247</strong></li>
            <li>sparks</li>
          </ul>

        </div>

        <div class="comments">
          <p>
            10 comments
          </p>
        </div>

      </div>

    </div>
  </div>

</div>


<%# link_to "Your profile", user_path(current_user) %>
