<div class="status-container">
<!-- Hot Strykes -->
  <div class="col-6-12">
    <div class="top">
      <% @strykes_hot.each do |stryke| %>
      <div class="top-status">
        <h2><%= image_tag "#{stryke.user.avatar}", class: 'thumb' %> <%= link_to "#{stryke.user.full_name.upcase}", user_path(stryke.user), class:"spark-header" %></h2>
        <p>
          <%= "#{stryke.body}" %>
        </p>
        <div class="sparks">

          <ul>
            <li><%= image_tag "spark-icon-white.png", class:"spark-icon" %></li>
            <li><strong><%= "#{stryke.spark_count}" %></strong></li>
            <li>sparks</li>
          </ul>

        </div>

        <div class="comments">
          <h4>10 comments</h4>
          <div class='comment-indi'>
            10 comments
          </div>
        </div>

      </div>

      <% end %>
    </div>
  </div>

<!-- New Strykes -->
  <div class="col-6-12">
    <div class="new">
      <% @strykes_new.each do |stryke| %>
      <div class="new-status">

        <h2><%= image_tag "#{stryke.user.avatar}", class: 'thumb' %> <%= link_to "#{stryke.user.full_name.upcase}", user_path(stryke.user), class:"spark-header" %></h2>
        <p>
          <%= "#{stryke.body}" %>
        </p>
        <div class="sparks">

          <ul>
            <li><%= image_tag "spark_icon.png", class:"spark-icon" %></li>
            <li><strong><%= "#{stryke.spark_count}" %></strong></li>
            <li>sparks</li>
          </ul>

        </div>

        <div class="comments">
          <h4>10 comments</h4>
          <div class='comment-indi'>
            10 comments
          </div>
        </div>

      </div>

      <% end %>

    </div>
  </div>

</div>


<%# link_to "Your profile", user_path(current_user) %>
