<div class="status-container">
<!-- Hot Strykes -->
  <div class="col-6-12">
    <div class="top">
      <% @strykes_hot_recent.each do |stryke| %>
      <div class="top-status">
        <h2><%= image_tag "#{stryke.user.avatar}", class: 'thumb' %> <%= link_to "#{stryke.user.full_name.upcase}", user_path(stryke.user), class:"spark-header" %></h2>
        <div class="countdown" data-timer="86400"></div>
        <p>
          <%= "#{stryke.body}" %>
        </p>
        <div class="sparks">

          <ul>
            <li><%= image_tag "spark-icon-white.png", class:"spark-icon" %></li>
            <li><strong><%= "#{stryke.spark_count}" %></strong></li>
            <li>sparks</li>
          </ul>

        </div>

        <div class="comments">
          <h4><%= "#{stryke.comments.count}" %> comments</h4>
          <div class='comment-indi'>
            <% stryke.comments.each do |comment| %>
            <%= render partial: "comment", locals: {comment: comment} %>
            <% end %>
            <!-- Comment form -->
            <%= simple_form_for([stryke, @comment]) do |f| %>
              <%= f.hidden_field :title, :value => stryke.id %>
              <%= f.text_field :body %>
              <%= f.button :submit, id: "hot-comment" %>
            <% end %>
          </div>
        </div>

      </div>

      <% end %>
    </div>
  </div>

<!-- New Strykes -->
  <div class="col-6-12">
    <div class="new">
      <% @strykes_new_recent.each do |stryke| %>
      <div class="new-status">

        <h2><%= image_tag "#{stryke.user.avatar}", class: 'thumb' %> <%= link_to "#{stryke.user.full_name.upcase}", user_path(stryke.user), class:"spark-header" %></h2>
        <p>
          <%= "#{stryke.body}" %>
        </p>
        <div class="sparks">

          <ul>
            <li><%= image_tag "spark_icon.png", class:"spark-icon" %></li>
            <li><strong><%= "#{stryke.spark_count}" %></strong></li>
            <li>sparks</li>
          </ul>

        </div>

        <div class="comments">
          <h4><%= "#{stryke.comments.count}" %> comments</h4>
          <div class='comment-indi'>
            <% stryke.comments.each do |comment| %>
              <h6><%= image_tag "#{comment.user.avatar}", class: 'thumb' %> <%= link_to "#{comment.user.full_name}", user_path(comment.user), class:"spark-header" %></h6>
              <p><%= comment.body %></p>
              <div class="sparks">
                <ul>
                  <li><%= image_tag "spark-icon-white.png", class:"spark-icon" %></li>
                  <li><strong><%= comment.spark_count %></strong></li>
                  <li>sparks</li>
                </ul>
              </div>
            <% end %>
            <!-- Comment form -->
            <%= simple_form_for([stryke, @comment]) do |f| %>
              <%= f.text_field :body %>
              <%= f.button :submit, id: "fresh-comment" %>
            <% end %>
          </div>
        </div>

      </div>

      <% end %>

    </div>
  </div>

</div>


<%# link_to "Your profile", user_path(current_user) %>
