<div class="status-container">
<!-- Hot Strykes -->
  <div class="col-6-12">
    <div class="top">
      <% @strykes_hot_recent.each do |stryke| %>
      <div class="top-status">
        <div class="col-2-12">
          <%= image_tag "#{stryke.user.avatar}", class: 'thumb' %>
        </div>
        <div class="col-10-12 spark-header-box">
          <%= link_to "#{stryke.user.full_name.upcase}", user_path(stryke.user), class:"spark-header" %>
        </div>
        <!-- <div class="countdown" data-timer="86400"></div> -->
        <p>
          <%= "#{stryke.body}" %>
        </p>
        <div class="sparks">

          <ul>
            <li><%= image_tag "spark-icon-white.png", class:"spark-icon", id:"#{stryke.id} #{stryke.user.id}" %></li>
            <li><strong><%= "#{stryke.spark_count}" %></strong></li>
            <li>sparks</li>
          </ul>

        </div>

        <div class="comments">
          <div class="header"><%= "#{stryke.comments.count}" %> comments</div>
            <div class='content'>

                <% stryke.comments.each do |comment| %>
                <%= render partial: "comment", locals: {comment: comment} %>
                <% end %>

              <!-- Comment form -->
              <div class="form">
                <hr class="comment-split"></hr>

                <%= simple_form_for([stryke, @comment]) do |f| %>
                  <%= f.hidden_field :title, :value => stryke.id %>
                  <%= f.text_field :body %>
                  <%= f.button :submit , id: "hot-comment", value: "Post" %>
                <% end %>
              </div>
            </div>
        </div>

      </div>

      <% end %>
    </div>
  </div>

<!-- New Strykes -->
  <div class="col-6-12">
    <div class="new">
      <% @strykes_new_recent.each do |stryke| %>
      <div class="new-status">
        <div class="col-2-12">
          <%= image_tag "#{stryke.user.avatar}", class: 'thumb' %>
        </div>
        <div class="col-10-12 spark-header-box">
          <%= link_to "#{stryke.user.full_name.upcase}", user_path(stryke.user), class:"spark-header" %>
        </div>
        <p>
          <%= "#{stryke.body}" %>
        </p>
        <div class="sparks">

          <ul>
            <li><%= image_tag "spark-icon-white.png", class:"spark-icon", id:"#{stryke.id} #{stryke.user.id}" %></li>
            <li><strong><%= "#{stryke.spark_count}" %></strong></li>
            <li>sparks</li>
          </ul>

        </div>

        <div class="comments">
          <div class="header"><%= "#{stryke.comments.count}" %> comments</div>
          <div class='content'>
            <ul>
            <% stryke.comments.each do |comment| %>
            <%= render partial: "comment", locals: {comment: comment} %>
            <% end %>
            <!-- Comment form -->
            <div class="form">
              <%= simple_form_for([stryke, @comment]) do |f| %>
                <%= f.text_field :body %>
                <%= f.button :submit, id: "fresh-comment", value: "Post" %>
              <% end %>
            </div>

          </div>
        </div>

      </div>

      <% end %>

    </div>
  </div>

</div>


<%# link_to "Your profile", user_path(current_user) %>
