
<div class="col-12-12">
  <div class="sign-container">
    <div class="sign-box">
      <%= link_to(image_tag("lytening-logo-white.png", class:"sign-logo"), "#") %>
      <div class="sign-log">

    <div class="sign-header">LOG IN</div>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, label: false, required: false, autofocus: true, placeholder: "Email"  %>
        <%= f.input :password, label: false, required: false, placeholder: "Password"  %>
        <div class="btn-container">
          <div class="col-6-12 form-actions">
            <%= f.button :submit, "LOG IN", class:"update" %>
          </div>
          <div class="col-6-12 form-actions">
            <%= f.button :submit, "SIGN UP", class:"signup-loginpage" %>
          </div>
        </div>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>


    <% end %>
    <div class="forgot-password">
      <%= link_to "Forgot password", new_user_password_path %>
    </div>
    </div>

    </div>

  </div>

</div>
