
<div class="col-12-12">
  <div class="sign-container">
    <div class="sign-box">
      <%= link_to(image_tag("lytening-logo-white.svg", class:"sign-logo"), "#") %>
      <div class="sign-log">

        <div class="sign-header">LOG IN</div>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, label: false, required: false, autofocus: true, placeholder: "Email"  %>
            <%= f.input :password, label: false, required: false, placeholder: "Password"  %>
              <div class="btn-container">
                <div class="col-12-12 form-actions">
                  <%= f.button :submit, "LOG IN", class:"update" %>
                </div>
              </div>

              <div class="col-4-12">
                <%= link_to new_user_registration_path do %>
                Sign up
                <% end %>
              </div>
              <div class="col-4-12 forgot-password">
                <%= link_to "Forgot password", new_user_password_path %>
              </div>
              <div class="col-4-12">
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>
            <% end %>


          </div>

      </div>

    </div>

  </div>
  <div class="about-container">

    <div class="about">
      <div class="about-box">
        <div class="about-header">ABOUT</div>

        <div class="about-text">
          As developers, our passion is to be contributors on a team where the code we write truly matters. This was and still is an exciting opportunity that allows us to be a part of a collaborative team that informs, educates, and breathes community into people's lives.
          We desire to be part of a company which encourages personal and logical growth and sets a new standard for teams in our industry, and this project allowed us to experience that on a small scale.
        </div>
      </div>
    </div>

  </div>

  <div class="team-container">

    <div class="team">
      <div class="team-box">
        <div class="team-header">TEAM</div>
        <div class="player-con">

          <div class="team-pic">
            <%= image_tag "jordan-head.jpg" %>
          </div>
              As developers, our passion is to be contributors on a team where the code we write truly matters. This was and still is an exciting opportunity that allows us to be a part of a collaborative team that informs, educates, and breathes community into people's lives.

      </div>
      <div class="player-con">
        <div class="team-pic">
          <%= image_tag "jake-head.jpg" %>
        </div>
          As developers, our passion is to be contributors on a team where the code we write truly matters. This was and still is an exciting opportunity that allows us to be a part of a collaborative team that informs, educates, and breathes community into people's lives.

    </div>
      <div class="player-con">

        <div class="team-pic">
          <%= image_tag "andrew-head.jpg" %>
        </div>
          As developers, our passion is to be contributors on a team where the code we write truly matters. This was and still is an exciting opportunity that allows us to be a part of a collaborative team that informs, educates, and breathes community into people's lives.

    </div>
      <div class="player-con">

      <div class="team-pic">
        <%= image_tag "wes-head.jpg" %>
      </div>
        As developers, our passion is to be contributors on a team where the code we write truly matters. This was and still is an exciting opportunity that allows us to be a part of a collaborative team that informs, educates, and breathes community into people's lives.

  </div>
      </div>
    </div>

  </div>

</div>
