<div class="col-12-12">
  <div class="tutorial-container">
    <div class="tutorial-box">
      <div class="col-12-12">
        <div class="sign-header">CUSTOMIZE YOUR PROFILE</div>

    <%= form_for @user , url: @url do |f| %>

      <%#= f.label :first_name %>
      <%= f.text_field :first_name, placeholder: "First Name" %>

      <%#= f.label :last_name %>
      <%= f.text_field :last_name, placeholder: "Last Name" %>

      <%#= f.label :username %>
      <%= f.text_field :username, placeholder: "User Name" %>

      <%#= f.label :birthday %>
      <%= f.date_field :birthday, :value => Date.today %>

      <%#= f.label :gender %>
      <%= select_tag "Gender", "<option>Male</option><option>Female</option><option>Do not specify</option>".html_safe %>

      <%#= f.label :location %>
      <%= f.text_field :location, placeholder: "Location E.g. Denver, CO" %>

      Separate Interests by commas.  We'll make some suggestions on people to follow based on what you list here
      <%#= f.label :interest %>
      <%= f.text_field :interest, placeholder: "Interests" %>

      <%#= f.label :school %>
      <%= f.text_field :school, placeholder: "School" %>

      <%#= f.label :work %>
      <%= f.text_field :work, placeholder: "Work" %>

      <%#= f.label :about %>
      <%= f.text_area :about, placeholder: "About" %>

      <%= f.submit "Update User", class: "next-tut" %>

    <% end %>

    </div>
  </div>
  </div>
</div>
