<!DOCTYPE html>
<html>
<head>
  <title>Lytening</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <%= favicon_link_tag 'lytening-favicon-circle.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <!-- <script type="text/javascript" src="TimeCircles.js"></script> -->
  <!-- <link href="TimeCircles.css" rel="stylesheet"> -->
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>

</head>
<body>
  <div class="mobile">
    <input type="checkbox" id="toggle-menu" />
    <ul class="sidenav">
      <%= link_to(image_tag("lytening-logo-white.svg", class:"sidenav-logo"), feed_path) %>
      <hr>
      <li class="search-space">
        <form class="navbar-form navbar-left" role="search" action="/search_results">
          <input type="text" id="search-bar" placeholder="Find Your Friends" name="search">
          <input type="submit" value="SEARCH" class="search-btn"></input>
        </form>
      </li><hr>
      <% if user_signed_in? %>
        <li class="one-line"><%= link_to "View / Edit your profile", user_path(current_user) %></li><hr>
        <li class= "one-line"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li><hr>
        <% else %>
        <li class= "one-line"><%= link_to "Login", new_user_session_path %></li><hr>
        <li class= "one-line"><%= link_to "Sign up", new_user_registration_path %></li><hr>
      <% end %>
      <%= link_to(image_tag("bug-icon.svg", class:"sidenav-bug"), bugs_path) %>
      <%= link_to(bugs_path) do %>
        <div class="bug-txt">report a bug</div>
      <% end %>

    </ul>
    <% if current_user%>
    <div class="col-12-12 header-stryke">
      <div class="stryke-con">

      <%= form_for current_user, {:url => "#"} do |f| %>
        <%= fields_for Stryke.new do |fs| %>
          <%= fs.text_area :body, class: "header-post", id:"textarea" %>
        <% end %>
        <%= f.submit "Stryke", class:"header-post-btn", id:"#{current_user.id}" %>
      <% end %>
      <span data-area-countdown></span>

      </div>
    </div>

    <% end %>

      <nav>

        <div class="header">
          <ul>
            <% if current_user%>
              <li class="col-8-12"><%= link_to(image_tag("lytening-logo-black.svg", class:"header-logo"), root_path) %></li>
              <li class="col-1-12 toggle-top-new"><%= link_to "PUBLIC FEED", all_path %></li>
              <li class="col-1-12 toggle-top-new your-feed"><%= link_to "YOUR FEED", feed_path %></li>
              <li class="col-1-12"><%= image_tag "spark_icon.svg", class:"spark-anywhere" %></li>
              <li class="col-1-12"><label for="toggle-menu"><%= image_tag "menu-icon.svg", class:"menu" %></label></li>
            <% else %>
              <li class="col-6-12"><%= link_to(image_tag("lytening-logo-black.svg", class:"header-logo"), root_path) %></li>
            <% end %>

          </ul>
        </div>
      </nav>

      <section>
        <!-- Below the doce displays devise error messages -->
      <!-- <%# flash.each do |name, msg| %>
          <%#= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        <%# end %> -->
<%= yield %>
    <footer class="col-12-12">
      <div class="foot">
        <ul class="col-12-12">
          <!-- <li><label for="toggle-menu"><%= image_tag "menu-icon.png", class:"menu" %></label></li> -->
        </ul>
      </div>
    </footer>

</section>

</div>


</body>
</html>
