<!DOCTYPE html>
<html>
<head>
  <title>Lytening</title>
  <%= favicon_link_tag 'lytening_favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <div class="container">
      <div class="navbar">
        <a href="/">Lytening</a>
      </div>

      <div>
        <ul>
          <li>
            Stuff
          </li>
        </ul>
      </div>

    </div>
  </nav>

  <%= yield %>

</body>
</html>
