<!DOCTYPE html>
<html>
<head>
  <title>Lytening</title>
  <%= favicon_link_tag 'lytening_favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <!-- <script type="text/javascript" src="TimeCircles.js"></script> -->
  <!-- <link href="TimeCircles.css" rel="stylesheet"> -->
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>

</head>
<body>
  <div class="mobile">
    <input type="checkbox" id="toggle-menu" />
    <ul class="sidenav">
      <%= link_to(image_tag("lytening-logo-black.png", class:"sidenav-logo"), "#") %><hr>
      <li class="search-space"><input type="text" id="search-bar" placeholder="Search"><input type="submit" value="Search" class="search-btn"></input></li><hr>
      <li><%# link_to 'Profile', user_path(current_user) %></li><hr>
      <li>
      <% if user_signed_in? %>
        Logged in as <strong><%= link_to current_user.email, user_path(current_user) %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path%> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>
      </li>
    </ul>
    <section>
      <nav>
        <div class="header">
          <ul>
            <li><%= image_tag "lytening-logo-black.png" %></li>
            <li>

            </li>
            <li><label for="toggle-menu"><%= image_tag "menu-icon.png", class:"menu" %></label></li>
          </ul>
        </div>
      </nav>

<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>
    <footer class="col-12-12">
      <div class="foot">
        <ul>
          <!-- <li><label for="toggle-menu"><%= image_tag "menu-icon.png", class:"menu" %></label></li> -->
        </ul>
      </div>
    </footer>

</section>

</div>


</body>
</html>
