<!DOCTYPE html>
<html>
<head>
  <title>Lytening</title>
  <%= favicon_link_tag 'lytening_favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>

</head>
<body>

  <nav>
    <div class="header">
      <ul>
        <li><%= image_tag "spark_icon.png" %></li>
        <li><%= image_tag "menu-icon.png", class:"menu" %></li>
      </ul>
    </div>
    <!-- <div class="container">
      <div class="navbar">
        <a href="/">Lytening</a>
      </div>

      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>

        <div>
          <ul>
            <li>
              Stuff
            </li>
          </ul>
        </div>

      </div> -->
    </nav>

    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

  </body>
  </html>
