<!DOCTYPE html>
<html>
<head>
  <title>Lytening</title>
  <%= favicon_link_tag 'lytening_favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>

</head>
<body>
  <div class="mobile">
    <input type="checkbox" id="toggle-menu" />
    <ul class="sidenav">
      <%= link_to(image_tag("lytening-logo-white.png", class:"sidenav-logo"), "#") %><hr>
      <li><%= link_to 'Search', "#" %></li>
      <li><%= link_to 'Profile', "#" %></li>
      <li>
      <% if user_signed_in? %>
        Logged in as <strong><%= link_to current_user.email, user_path(current_user) %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path%> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>
      </li>
    </ul>
    <section>
      <nav>
        <div class="header">
          <ul>
            <li><%= image_tag "lytening-logo-black.png" %></li>
            <li><label for="toggle-menu"><%= image_tag "menu-icon.png", class:"menu" %></label></li>
          </ul>
        </div>
      </nav>

<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>
</section>

</div>


</body>
</html>
